{% template battery_icon %}
<!-- SVG source from https://icons.getbootstrap.com/icons/battery-full/ -->
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="currentColor" class="bi bi-battery-half" viewBox="0 0 16 16">
  <!-- The full battery bar apparently has a width of 10 -->
  <!-- So easy to create icon that's modified to the closest 10% charge -->
  <path d="M2 6h{{ percentage | divided_by: 10.0 | round }}v4H2z"/>
  <path d="M2 4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm10 1a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1zm4 3a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8"/>
</svg>
{% endtemplate %}

{% template wifi_icon %}
{% if percentage >= 66.67 %}
<!-- SVG source from https://icons.getbootstrap.com/icons/wifi/ -->
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="currentColor" class="bi bi-wifi" viewBox="0 0 16 16">
  <path d="M15.384 6.115a.485.485 0 0 0-.047-.736A12.44 12.44 0 0 0 8 3C5.259 3 2.723 3.882.663 5.379a.485.485 0 0 0-.048.736.52.52 0 0 0 .668.05A11.45 11.45 0 0 1 8 4c2.507 0 4.827.802 6.716 2.164.205.148.49.13.668-.049"/>
  <path d="M13.229 8.271a.482.482 0 0 0-.063-.745A9.46 9.46 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.576 1.336c.206.132.48.108.653-.065m-2.183 2.183c.226-.226.185-.605-.1-.75A6.5 6.5 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.407.19.611.09A5.5 5.5 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.61-.091zM9.06 12.44c.196-.196.198-.52-.04-.66A2 2 0 0 0 8 11.5a2 2 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .707 0l.707-.707z"/>
</svg>
{% elsif percentage >= 33.33 %}
<!-- SVG source from https://icons.getbootstrap.com/icons/wifi-2/ -->
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="currentColor" class="bi bi-wifi-2" viewBox="0 0 16 16">
  <path d="M13.229 8.271c.216-.216.194-.578-.063-.745A9.46 9.46 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.577 1.336c.205.132.48.108.652-.065m-2.183 2.183c.226-.226.185-.605-.1-.75A6.5 6.5 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.408.19.611.09A5.5 5.5 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.611-.091zM9.06 12.44c.196-.196.198-.52-.04-.66A2 2 0 0 0 8 11.5a2 2 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .708 0l.707-.707z"/>
</svg>
{% else %}
<!-- SVG source from https://icons.getbootstrap.com/icons/wifi-1/ -->
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="currentColor" class="bi bi-wifi-1" viewBox="0 0 16 16">
  <path d="M11.046 10.454c.226-.226.185-.605-.1-.75A6.5 6.5 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.407.19.611.09A5.5 5.5 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.611-.091zM9.06 12.44c.196-.196.198-.52-.04-.66A2 2 0 0 0 8 11.5a2 2 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .707 0l.708-.707z"/>
</svg>
{% endif %}
{% endtemplate %}

{% template battery_info %}
<div class="flex flex--col flex--center-x">
  <div class="flex flex--row flex--center-y">
    <span class="title"> Battery: &nbsp; </span>
    {% render "battery_icon", percentage: data.percent_charged, size: 32 %}
  </div>
  <div class="flex flex--row">
    <span class="value value--{{ size }}"> {{ data.percent_charged }}% </span>
    <span class="value value--{{ size }}"> ({{ data.battery_voltage }}V) </span>
  </div>
</div>
{% endtemplate %}

{% template wifi_info %}
<div class="flex flex--col flex--center-x">
  <div class="flex flex--row flex--center-y">
    <!-- SVG from https://icons.getbootstrap.com/icons/wifi/ -->
    <span class="title"> WiFi: &nbsp; </span>
    {% render "wifi_icon", percentage: data.wifi_strength, size: 32 %}
  </div>
  <div class="flex flex--row">
    <span class="value value--{{ size }}"> {{ data.wifi_strength }}% </span>
    <span class="value value--{{ size }}"> ({{ data.rssi }}dBm) </span>
  </div>
</div>
{% endtemplate %}

{% template titlebar %}
<div class="title_bar">
  <img class="image" src="/images/plugins/trmnl--render.svg">
  <span class="title text--black"> {{ data.name }} </span>
  <span class="instance">{{ trmnl.system.timestamp_utc | plus: trmnl.user.utc_offset | date: "%Y-%m-%d %H:%M" }}</span>
</div>
{% endtemplate %}